<% include ./partials/headerLoggin %>

<div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky" style="margin-top: 5%;">
                        <ul class="list-group">
                                <a class="list-group-item list-group-item-action" href="/usrHome" style="margin-top: 5%;"> 首页 </a>                     
        
                                <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action active" style="margin-top: 5%;"> 行业全景图 </a>
                                <ul class="collapse" id="homeSubmenu1" style="margin-top: 5%">
                                    <a class="list-group-item list-group-item-action active" href="/governmentGlance"> 政府行业 </a>
                                    <a class="list-group-item list-group-item-action" href="/industry" style="margin-top: 5%"> 区块链 </a>
                                </ul>
                                <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action" style="margin-top: 5%;"> 行业数据库 </a>
                                <ul class="collapse" id="homeSubmenu2">
                                    <a class="list-group-item list-group-item-action" href="/governmentSearch" style="margin-top: 5%;"> 政府行业 </a>
                                    <a class="list-group-item list-group-item-action" href="/database" style="margin-top: 5%;"> 区块链 </a>
                                </ul>
                                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action" style="margin-top: 5%;"> 行业情绪指数 </a>
                                <ul class="collapse" id="homeSubmenu">
                                    <a class="list-group-item list-group-item-action" href="/industryEmotion" style="margin-top: 5%;"> 全行业/关键词情绪指数 </a>
                                    <a class="list-group-item list-group-item-action" href="/news" style="margin-top: 5%;"> 行业情绪指数参考新闻 </a>
                                </ul>
                                <a class="list-group-item list-group-item-action" href="/updateLog" style="margin-top: 5%;"> 更新记录 </a>
                        </ul>
                </div>
            </nav>
            <div class="col-md-10">
                <!-- 代码在这 -->
                <div class="row">
                <!-- 按照省区分数量 -->
                    <div class="col-md-5" style="margin-top: 5%; margin-left: 3%; height: 200px; width: 300px;">
                        <h5> 2020年 全国招标成交统计数量 Top 10 </h5>
                        <canvas id='bidCountByProvince1'></canvas>
                    </div>

                    <div class="col-md-5" style="margin-top: 5%; margin-left: 10%; height: 200px; width: 300px;">
                            <h5> 2020年 全国招标成交类型统计 Top 10 </h5>
                            <canvas id='bidCountByProvince2'></canvas>
                    </div>
                </div>

                <!-- 某省内单一类别招标情况 -->

                <div class="row">
                    <div class="col-md-5" style="margin-top: 10%; margin-left: 3%; height: 200px; width: 300px;">
                        <h5> 各类招标占比 </h5>
                        <canvas id="bidCountWithinRegion"></canvas>
                    </div>
                    <div class="col-md-5" style="margin-top: 10%; margin-left: 3%; height: 200px; width: 300px;">
                        <h5> 近30天每日新增招标成交统计 </h5>
                        <canvas id='bidCountByDate'></canvas>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-5" style="margin-top: 10%; margin-left: 3%; height: 200px; width: 300px;">
                        <h5> 近30天 医疗设备类招标成交统计  </h5>
                        <canvas id='bidCountInMedEquipment'></canvas>
                    </div>
                    
                </div>
                
        </div>
</div>


<script>
    // 按照省区分数量
    var ctx1 = document.getElementById('bidCountByProvince1').getContext('2d')

    var myChart = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: [<% countByLocation.forEach(function(log){%> "<%= log._id %>", <%}) %>],
            datasets: [{
                label: '计数',

                data: [<% countByLocation.forEach(function(log){%> "<%= log.count %>", <%}) %>],

                backgroundColor: 'lightblue'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    gridLines: {
                        offsetGridLines: true
                    }
                }]
            }
        }
    })

    // 按照类型区分数量
    var ctx2 = document.getElementById('bidCountByProvince2').getContext('2d')

    var myChart = new Chart(ctx2, {
        type: 'bar',
        data: {
            <% if(countBySegment[0]._id == "未知"){ %>

            labels: ['<%= countBySegment[1]._id %>', '<%= countBySegment[2]._id %>', '<%= countBySegment[3]._id %>', '<%= countBySegment[4]._id %>', '<%= countBySegment[5]._id %>', '<%= countBySegment[6]._id %>',
                     '<%= countBySegment[7]._id %>', '<%= countBySegment[8]._id %>', '<%= countBySegment[9]._id %>', '<%= countBySegment[10]._id %>'],
            datasets: [{
                label: '计数',

                data: [<%= countBySegment[1].count %>, <%= countBySegment[2].count %>, <%= countBySegment[3].count %>, <%= countBySegment[4].count %>,
                       <%= countBySegment[5].count %>, <%= countBySegment[6].count %>, <%= countBySegment[7].count %>, <%= countBySegment[8].count %>,
                       <%= countBySegment[9].count %>, <%= countBySegment[10].count %>],
            <% }else{ %>
            
            labels: ['<%= countBySegment[0]._id %>', '<%= countBySegment[1]._id %>', '<%= countBySegment[2]._id %>', '<%= countBySegment[3]._id %>', '<%= countBySegment[4]._id %>', '<%= countBySegment[5]._id %>',
                     '<%= countBySegment[6]._id %>', '<%= countBySegment[7]._id %>', '<%= countBySegment[8]._id %>', '<%= countBySegment[9]._id %>'],
            datasets: [{
                label: '计数',

                data: [<%= countBySegment[0].count %>, <%= countBySegment[1].count %>, <%= countBySegment[2].count %>, <%= countBySegment[3].count %>,
                       <%= countBySegment[4].count %>, <%= countBySegment[5].count %>, <%= countBySegment[6].count %>, <%= countBySegment[7].count %>,
                       <%= countBySegment[8].count %>, <%= countBySegment[9].count %>],
                <% } %>
                backgroundColor: '#85C1E9'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    gridLines: {
                        offsetGridLines: true
                    }
                }]
            }
        }
    })

    // 某省省内类别占比

    var ctx3 = document.getElementById('bidCountWithinRegion')

    var myChart = new Chart(ctx3, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [5, 3, 5],
                backgroundColor: ['#2471A3', '#5499C7', '#7FB3D5']
            }]
        },
        options: {

        }
    })
    
    // 按照日期区分
    var ctx4 = document.getElementById('bidCountByDate').getContext('2d')
    
    var myChart = new Chart(ctx4, {
        type: 'line',
        data: {
            labels: [<% countByDate.forEach(function(log){%> "<%= log._id %>", <%}) %>].reverse(),
            datasets: [{
                label: '计数',
                data: [<% countByDate.forEach(function(log){%> <%= log.count %>, <%}) %>].reverse(),

                backgroundColor: 'lightblue'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    gridLines: {
                        offsetGridLines: true
                    }
                }]
            }
        }
    })

    // 近30天 医疗类中标成交统计
    var ctx5 = document.getElementById('bidCountInMedEquipment').getContext('2d')
    
    var myChart = new Chart(ctx5, {
        type: 'line',
        data: {
            labels: [<% countInMedEquip.forEach(function(log){%> "<%= log._id %>", <%}) %>].reverse(),
            datasets: [{
                label: '计数',
                data: [<% countInMedEquip.forEach(function(log){%> <%= log.count %>, <%}) %>].reverse(),

                backgroundColor: 'lightblue'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    gridLines: {
                        offsetGridLines: true
                    }
                }]
            }
        }
    })



</script>

<% include ./partials/footer %>
